fastapi==0.111.0
uvicorn[standard]==0.30.0
pandas==2.2.2
numpy==1.26.4
geopandas==0.14.4
shapely==2.0.4
scikit-learn==1.5.0
xgboost==2.0.3
imbalanced-learn==0.12.3
joblib==1.4.2
osmnx==1.9.3
pyproj==3.6.1
python-multipart==0.0.9
pydantic==2.7.1
pydantic-settings==2.3.1
python-dotenv==1.0.1
folium==0.17.0
mapclassify==2.6.1
matplotlib==3.9.0
seaborn==0.13.2
scipy==1.13.1
branca==0.7.2
